<slide class="{{ slide.class }}" id="{{ slide.id }}" style="background:{{{ slide.bg }}};">
  {{# slide.header }}
  <hgroup>
    {{{ slide.header}}}
  </hgroup>
  {{/ slide.header }}
  <article data-timings="{{ slide.dt }}">
  <hr noshade size=4 color='green'>  
    {{{ slide.content }}}
  </article>
      <footer style='color:green;font-size:8pt'>
	Copyright 2015, smjb : For Developing Data Products, Data Science Specialization [ <a href="http://smjb.github.io/devdata-pitch">Hosted Slide</a> | <a href="https://github.com/smjb/devdata_pitch/tree/gh-pages">Slide Repo</a> | <a href="https://smjb.shinyapps.io/jpstat">ShinyApps</a> | <a href="https://github.com/smjb/devdata">ShinyApp Repo</a> ]
  </footer>
  <!-- Presenter Notes -->
  {{# slide.pnotes }}
  <aside class="note" id="{{ id }}">
    <section>
      {{{ html }}}
    </section>
  </aside>
  {{/ slide.pnotes }}
</slide>

